/AreasInMatrix.class
/BeautifulYear.class
/CFSolutions.class
/CombinationsWithRep.class
/CombinationsWithoutRepetition.class
/CommonStringSubsequence.class
/EasterContestTask1.class
/EasterContestTask2.class
/Expression.class
/KefaAndFirstSteps.class
/LongestCommonSubseq.class
/LudiaPainter.class
/Medenka.class
/NestedLoopsRecursion.class
/Presents.class
/Puzzles.class
/ReversePrintRecursion.class
/Solver$Item.class
/Solver.class
/TowersOfHanoi.class
/UltraFastMath.class
/YoungPhisisist.class
